{
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.css", "*.scss"],
      "options": { "singleQuote": false }
    },
    {
      "files": ["*.md"],
      "options": { "proseWrap": "preserve" }
    }
  ]
}
